@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: JetBrains Mono, monospace;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.home__background {
  position: absolute;
}

.home__background img {
  height: 100vh;
  width: 100vw;
}

.home__presentation p {
  line-height: 5rem;
}

.home__presentation__top-left {
  margin: 6vw;
  position: absolute;
  color: white;
  font-size: 3rem;
  -webkit-animation: glitch 2s linear infinite;
          animation: glitch 2s linear infinite;
}

.home__presentation__bottom-right {
  position: absolute;
  left: 46vw;
  top: 43vw;
  color: white;
  font-size: 2.5rem;
  -webkit-animation: glitch 1.2s linear infinite;
          animation: glitch 1.2s linear infinite;
}

@-webkit-keyframes glitch {
  2%,
  64% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: translate(0, 0) skew(5deg);
            transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitch {
  2%,
  64% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: translate(0, 0) skew(5deg);
            transform: translate(0, 0) skew(5deg);
  }
}

.home__presentation:before, .home__presentation:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.home__presentation:before {
  -webkit-animation: glitchTop 1s linear infinite;
          animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@-webkit-keyframes glitchTop {
  2%,
  64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(13px, -1px) skew(-13deg);
            transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(13px, -1px) skew(-13deg);
            transform: translate(13px, -1px) skew(-13deg);
  }
}

.home__presentation:after {
  -webkit-animation: glitchBotom 1.5s linear infinite;
          animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@-webkit-keyframes glitchBotom {
  2%,
  64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-22px, 5px) skew(21deg);
            transform: translate(-22px, 5px) skew(21deg);
  }
}

@keyframes glitchBotom {
  2%,
  64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%,
  60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-22px, 5px) skew(21deg);
            transform: translate(-22px, 5px) skew(21deg);
  }
}

.header {
  z-index: 1;
  position: absolute;
  color: #f0f0f0;
}
/*# sourceMappingURL=app.css.map */